<% if Helpers.current_user(session) != @language.user %>
  <h2>From <%= @language.user.username %>'s LingoVault:</h2>
<% else %>
  <h2>From Your LingoVault:</h2>
<% end %> 
<p>Language: <%= @language.name %></p>
<p>Level: <%= @language.level %></p>
<p>Learning Experience: </p>
<p><%= @language.exp %></p>

<% if Helpers.current_user(session) == @language.user %>
  <a href="/languages/<%=@language.id%>/edit">Update Language</a>


<form action="/languages/<%=@language.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">

</form>
<% end %>
