<br>
<h4>Language: <%= @language.name %></h4><br>
<h5>Level: <%= @language.level %></h5><br>
<h5>Learning Experience: </h5><br>
<p><%= @language.exp %></p>

<% if Helpers.current_user(session) == @language.user %>
  <a href="/languages/<%=@language.id%>/edit">Edit Language</a>


<form action="/languages/<%=@language.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">

</form>
<% end %>
