<!-- <h1> Welcome, <%= @user.name if Helpers.is_logged_in?(session) == User.find_by(id: params[:id])%>!</h1><br> -->
   
   
   <% if Helpers.current_user(session) == User.find_by(id: params[:id]) %>
        <h2> Welcome, <%= @user.name %>!</h2>
   <% else %> 
        <h2> <%= @user.name %>'s LingoVault </h2>
   <% end %> 
  <% @languages.each do |language| %>
   <p><a href="/languages/<%= language.id %>"> <%= language.name %> </a></p> 
   <% end %>
   